* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.box {
  margin: 30px;
  border: 5px solid rgb(190, 183, 183);
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
  width: 85%;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.button-box {
  display: flex;
  justify-content: center;
  gap: 1px;
  flex-wrap: wrap;
}
.btn {
  height: 50px;
  width: 50px;
  margin: 9px;
  font-size: x-large;
  border-radius: 1px;
}
